@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
   background-color: transparent;
   height: 0;
   width: 8px;
}

::-webkit-scrollbar-thumb{
   background-color: black;
   border:1px solid rgba(255, 255, 255, .2);
   border-radius: 5px;
}

body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background-color: rgb(30, 30, 30);
} 

h1{
   color: white;
   margin: 10px;
   padding-bottom: 15px;
   border-bottom: 1px solid white;
   font-size:calc(12px + 1.1vw);
   user-select: none;
}

.login-button{
   position: relative;
   top:40%;
   padding: 10px;
   background-color: rgb(255, 255, 255);
}
.logout-button{
   color: black;
   margin-top: 20px;
   padding: 5px 10px 5px 10px;
   background-color: rgb(255, 255, 255);
}

/* APP */

.App {
   text-align: center;
   color: white;
}
.Main{
   display: flex;
   flex-direction: column;
   position: fixed;
   left: 50%;
   transform: translate(-50%);
   width: 100%;
   max-width: 750px;
   height: 100%;
}

/* APP END */

/* SECTIONS */

.section{
   margin: 10px;
   max-height: 60%;
   border: 1px solid black;
   background-color: rgb(40, 40, 40);
}
.nav{
   min-height: 30px;
   max-height: 30px;
}
.search{
   min-height: 9vh;
   overflow: scroll;
}
.playlist{
   flex:1;
   overflow: scroll;
}
.player{
   overflow: hidden;
   max-height: 5vh; 
   min-height: 5vh;
}
/* SECTIONS END */
