@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

*{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
   background-color: transparent;
   height: 0;
   width: 8px;
}

::-webkit-scrollbar-thumb{
   background-color: black;
   border:1px solid rgba(255, 255, 255, .2);
   border-radius: 5px;
}

body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   background-color: rgba(0, 0, 0, 0.8);
   margin-top: 50px;
} 

.App {
   text-align: center;
   color: white;
}

.login-button{
   position: relative;
   top:40%;
   padding: 10px;
   background-color: rgb(255, 255, 255);
}

.logout-button{
   color: black;
   margin-top: 20px;
   padding: 5px 10px 5px 10px;
   background-color: rgb(255, 255, 255);
}


.Main{
   display: flex;
   flex-direction: column;
   position: fixed;
   left: 50%;
   transform: translate(-50%);
   width: 100%;
   max-width: 750px;
   height: 90%;
}

.section{
   flex: 1;
   margin: 10px;
   max-height: 50%;
   overflow: scroll;
   border: 1px solid black;
   background-color: rgba(0, 0, 0, 0.239);
}

.section h1{
   color: white;
   margin: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid white;
   font-size:calc(12px + 1.4vw);
}

.one{max-height: 10vh; display: flex;align-items: center;}
.two{flex:4;}
.three{flex: 1;}
.four{flex:5;}